<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/css/user/register.css' />
  </head>
  <body>
    <form method="POST">
      <% if (user !== null) { %>
        <div class="alert alert-danger" role="alert">
          Corrija os seguintes campos:
          <ul>
            <% for( let i=0; i<err.length; i++ ) { %>
              <li><%= err[i] %></li>
            <% } %>
          </ul>
        </div>
      <% } %>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Nome" class="col-form-label">Nome</label>
          <input type="text" class="form-control" id="Nome" name="Nome" placeholder="Nome" <% if (user !== null) { %>
          <%= `value=${user.Nome}` %>
          <% } %> required>
        </div>
        <div class="form-group col-md-6">
          <label for="Sobrenome" class="col-form-label">Sobrenome</label>
          <input type="text" class="form-control" id="Sobrenome" name="Sobrenome" placeholder="Sobrenome" <% if (user !== null) { %>
            <%= `value=${user.Sobrenome}` %>
            <% } %> required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="Email" class="col-form-label">Endereço de email</label>
          <input type="email" class="form-control" name="Email" id="Email" placeholder="nome@exemplo.com" <% if (user !== null) { %>
            <%= `value=${user.Email}` %>
            <% } %> required>
        </div>
        <div class="form-group col-md-4">
          <label for="Senha" class="col-form-label">Senha</label>
          <input type="password" class="form-control" id="Senha" name="Senha" placeholder="Senha" <% if (user !== null) { %>
            <%= `value=${user.Senha}` %>
            <% } %> required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="CPF" class="col-form-label">CPF</label>
          <input type="text" class="form-control" name="CPF" id="CPF" placeholder="Sem pontos e traços" <% if (user !== null) { %>
            <%= `value=${user.CPF}` %>
            <% } %>>
        </div>
        <div class="form-group col-md-3">
          <label for="RG" class="col-form-label">RG</label>
          <input type="text" class="form-control" id="RG" name="RG" placeholder="Sem pontos e traços" <% if (user !== null) { %>
            <%= `value=${user.RG}` %>
            <% } %>>
        </div>
        <div class="form-group col-md-4">
          <label for="Telefone" class="col-form-label">Telefone</label>
          <input type="text" class="form-control" id="Telefone" name="Telefone" placeholder="Apenas números" <% if (user !== null) { %>
            <%= `value=${user.Telefone}` %>
            <% } %>>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="DataNascimento" class="col-form-label">Data de Nascimento</label>
          <input type="text" class="form-control" name="DataNascimento" id="DataNascimento" placeholder="dd/mm/aaaa" <% if (user !== null) { %>
            <%= `value=${user.DataNascimento}` %>
            <% } %>>
        </div>
        <div class="form-group col-md-4">
          <legend for="Sexo" class="col-form-label">Sexo</legend>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Sexo" id="Sexo" value="M" <% if (user!= null) { %><% if (user.Sexo === 'M') { %><%= `CHECKED` %><% } %><% } %>>
            <label class="form-check-label" for="inlineRadio1">Masculino</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Sexo" id="Sexo" value="F" <% if (user!= null) { %><% if (user.Sexo === 'F') { %><%= `CHECKED` %><% } %><% } %>>
            <label class="form-check-label" for="inlineRadio2">Feminino</label>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="EstadoCivil" class="col-form-label">Estado Civil</label>
          <select class="custom-select mr-sm-2" id="EstadoCivil" name="EstadoCivil">
            <option value="1" <% if (user!= null) { %><% if (user.EstadoCivil === '1') { %><%= `selected="selected"` %><% } %><% } %>>Solteiro(a)</option>
            <option value="2" <% if (user!= null) { %><% if (user.EstadoCivil === '2') { %><%= `selected="selected"` %><% } %><% } %>>Casado(a)</option>
            <option value="3" <% if (user!= null) { %><% if (user.EstadoCivil === '3') { %><%= `selected="selected"` %><% } %><% } %>>Divorciado(a)</option>
            <option value="4" <% if (user!= null) { %><% if (user.EstadoCivil === '4') { %><%= `selected="selected"` %><% } %><% } %>>Viúvo(a)</option>
            <option value="5" <% if (user!= null) { %><% if (user.EstadoCivil === '5') { %><%= `selected="selected"` %><% } %><% } %>>Separado(a)</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-9">
          <label for="Endereco" class="col-form-label">Endereço Completo</label>
          <input type="text" class="form-control" name="Endereco" id="Endereco" placeholder="Digite o endereço completo" <% if (user !== null) { %>
            <%= `value=${user.Endereco}` %>
            <% } %>>
        </div>
        <div class="form-group col-md-3">
          <label for="CEP" class="col-form-label">CEP</label>
          <input type="text" class="form-control" id="CEP" name="CEP" placeholder="00000-000" <% if (user !== null) { %>
            <%= `value=${user.CEP}` %>
            <% } %>>
        </div>
      </div>
      <div class="form-group col-sm-10">
        <button type="submit" class="btn btn-primary">Registrar</button>
      </div>
      
    </form>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
