<!DOCTYPE html>
<html>

  <head>
    <title>Usuários</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/css/user/user.css' />
  </head>

  <body>
    <div class="card-container">
      <a class="btn btn-outline-secondary button-design" href="/user/register" role="button">Cadastrar Novo Usuário</a>

      <table class="table table-hover table-borderless table-responsive">
        <caption>Lista de Usuários</caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Email</th>
            <th scope="col">Sexo</th>
            <th scope="col">CPF</th>
            <th scope="col">RG</th>
            <th scope="col">Telefone</th>
            <th scope="col">Nascimento</th>
            <th scope="col">EstadoCivil</th>
            <th scope="col">CEP</th>
            <th scope="col">Endereço</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < data.length; i++ ) { %>
            <tr>
              <td scope="row"><%-data[i].Id%></td>
              <td scope="row"><%-data[i].Nome%></td>
              <td scope="row"><%-data[i].Sobrenome%></td>
              <td scope="row"><%-data[i].Email%></td>
              <td scope="row"><%-data[i].Sexo%></td>
              <td scope="row"><%-data[i].CPF%></td>
              <td scope="row"><%-data[i].RG%></td>
              <td scope="row"><%-data[i].Telefone%></td>
              <td scope="row"><%-data[i].DataNascimento%></td>
              <td scope="row"><%-data[i].EstadoCivil%></td>
              <td scope="row"><%-data[i].CEP%></td>
              <td scope="row"><%-data[i].Endereco%></td>
              <td scope="row"><a href="/user/update/<%= data[i].Id %>"><img src="/image/edit.svg" alt="trash" ></a></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
